@import "_colores.scss";

//////////////////

// GENERAL //

* {
    padding: 0;
    margin: 0;
    font-family: "Rubik", sans-serif;
    color: $BLANCO;
    scroll-behavior: smooth;
    -webkit-user-select: none;
    user-select: none;
}

//using this to see beyond my current code. will delete it later hehe
body {
    height: 300vh;
}

// REDES-UPBUTTON //

.clickers {
    z-index: 1;
    padding: 5px;
    display: flex;
    position: fixed;
    right: 0px;
    bottom: 0px;
    flex-direction: column;

    img {
        width: 30px;
        height: 30px;
        color: $NEGRO;
    }
}


// HEADER //

.shipping {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    background-color: rgb(24, 23, 23);
    font-weight: 600;

    #shipping-p {
        font-size: 1.2rem;
        text-decoration: underline 1px solid;
        padding-right: 3.5rem;
    }
}

.header {
    border-top: 1px solid $BLANCO;
    background-color: $NEGRO;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .head-categories {
        ul {
            display: flex;
            list-style: none;
            gap: 30px;
            font-weight: 600;

            a {
                text-decoration: none;
                border-bottom: 1px solid transparent;
                transition: border-bottom-color 0.3s ease-in-out;
                padding-bottom: 5px;

                &:hover {
                    border-bottom-color: $BLANCO;
                }
            }
        }
    }

    .head-logo {
        margin-left: 50px;
        //

        img {
            width: 100px;
        }
    }

    .head-icons {
        display: flex;
        gap: 10px;

        a {
            text-decoration: none;
        }

        i {
            margin: 0px 20px;
            font-size: 1.5rem;
        }
    }
}

// MAIN BODY //

/* Slideshow container */

.slider_sect {
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    height: 83.5vh;
    .slideshow-container {
        overflow: hidden;
        width: 100%;
        height: 100vh;
        position: relative;

        .mySlides {
            img {
                width: 100%;
                opacity: 0.7;
            }

            .text {
                color: $NEGRO;
                font-size: 3.2rem;
                padding: 8px 12px;
                position: absolute;
                top: 36vh;
                left: 29vw;
            }

            .text_blue {
                color: $NEGRO;
                font-size: 3.2rem;
                padding: 8px 12px;
                position: absolute;
                text-align: center;
                top: 42vh;
                left: 42vw;
                text-shadow: 2px 3px $azul_hyte;
            }

            .text_red {
                color: $NEGRO;
                font-size: 50px;
                padding: 8px 12px;
                position: absolute;
                text-align: center;
                top: 42vh;
                left: 42vw;
                text-shadow: 2px 3px $rojo_hyte;
            }
        }

        .prevBtn i,
        .nextBtn i {
            background: none;
            position: absolute;
            border: none;
            top: 45%;
            margin-top: -22px;
            padding: 7px;
            color: rgb(0, 0, 0);
            font-weight: bold;
            font-size: 40px;
            transition: 0.6s ease;

            &:hover {
                color: $BLANCO;
            }
        }

        .nextBtn i {
            right: 0;
        }
    }

    .dots {
        position: absolute;
        bottom: 0px;
        left: 0;
        .dot {
            height: 5px;
            width: 200px;
            margin: 0 2px;
            background-color: #747c75;
            display: inline-block;
            transition: background-color 0.6s ease;
        }

        .active,
        .dot:hover {
            background-color: #000000;
        }
    }
}

/* Top buy clothes */

.mostBuyed_clothes {
    display: flex;
    flex-direction: column;
    margin-bottom: 16vh;
    .top {
        display: flex;
        justify-content: space-between;
        margin-bottom: 8vh;

        p {
            font-size: 2rem;
        }

        p,
        a {
            text-align: center;
            margin: 2rem 5rem 0 5rem;
            color: $NEGRO;
        }

        a {
            text-decoration: none;
            height: fit-content;
            padding: 1rem;
            border: 1px solid rgba(128, 128, 128, 0.527);
            box-shadow: 6px 6px 10px $azul_hyte;
            transition: 0.2s ease;

            &:hover {
                border: 1px solid $NEGRO;
                box-shadow: 6px 6px 10px $rojo_hyte;
            }
        }
    }

    .clothes {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;

        img {
            width: 450px;
            box-shadow: 6px 6px 10px $azul_hyte;
            margin-bottom: 1rem;
            transition: 0.2s ease;
        }

        #white_hoodie {
            &:hover {
                content: url(/assets/white_hoodieHYTE2.jpeg);
                width: 460px;
                box-shadow: 6px 6px 10px $azul_hyte;
                margin-bottom: 1rem;

                &:hover {
                    box-shadow: 6px 6px 10px $rojo_hyte;
                }
            }
        }

        #black_hoodie {
            &:hover {
                content: url(/assets/black_hoodieHYTE2.jpeg);
                width: 460px;
                box-shadow: 6px 6px 10px $azul_hyte;
                margin-bottom: 1rem;
            }
            &:hover {
                box-shadow: 6px 6px 10px $rojo_hyte;
            }
        }

        #overdose_HYTE {
            &:hover {
                content: url(/assets/black_tshirtHYTE2.jpeg);
                width: 460px;
                box-shadow: 6px 6px 10px $azul_hyte;
                margin-bottom: 1rem;
            }
            &:hover {
                box-shadow: 6px 6px 10px $rojo_hyte;
            }
        }

        #WORTHLESS_HYTE {
            &:hover {
                content: url(/assets/black-violet_tshirtHYTE2.jpeg);
                width: 460px;
                box-shadow: 6px 6px 10px $azul_hyte;
                margin-bottom: 1rem;
            }
            &:hover {
                box-shadow: 6px 6px 10px $rojo_hyte;
            }
        }

        p {
            color: $NEGRO;
            text-align: center;
            s {
                color: grey;
                margin-right: 0.5rem;
            }
        }
    }
}

/* Clothing sections */

.clothes_sections {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 10vh;

    p {
        width: -moz-fit-content;
        width: fit-content;
        position: relative;
        transform: translate(30px, -200px);
        color: $NEGRO;
        font-size: 3rem;
        font-style: italic;
    }

    #shorts {
        transform: translate(500px, -200px);
    }

    img {
        -webkit-user-drag: none;
        width: 700px;
        border: 4px solid $NEGRO;
        border-bottom-left-radius: 50px;
        border-top-right-radius: 50px;

        &:hover {
            transition-duration: 0.5s;
            box-shadow: 6px 6px 10px 5px $azul_hyte;
        }
    }

    a {
        -webkit-user-drag: none;
    }
}

/* Slogan ? - important text */

.brand_text {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 0 20vw;
    margin-bottom: 10vh;

    .text {
        h1 {
            font-size: 3rem;
            color: $NEGRO;

            a {
                text-decoration: none;
                font-size: 4rem;
                color: $azul_hyte;
            }
        }
    }

    .text2 {
        text-align: justify;
        margin-left: 1vw;
        padding-left: 1vw;
        border-left: 1px solid $NEGRO;

        span {
            color: $azul_hyte;
            font-style: italic;
            font-weight: 600;
        }

        p {
            font-size: 1.6rem;
            color: $NEGRO;

            &:last-child {
                margin-top: 1vh;
            }
        }
    }
}

/* Slogan 2 ? - important text */

.brand_text2 {
    border-top: 1px solid $NEGRO;
    padding-top: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 5vh;

    .brand_text_div {
        text-align: justify;
        width: 40%;

        h1 {
            font-size: 3rem;
            color: $NEGRO;
        }
        span {
            color: $azul_hyte;
            font-style: italic;
            font-weight: 600;
        }

        div:last-of-type {
            margin: 1vh 0 0 1vw;
            padding-left: 1vw;
            border-left: 1px solid $NEGRO;
        }

        p {
            font-size: 1.5rem;
            color: $NEGRO;
        }

        p:last-of-type {
            margin-top: 2vh;
        }
    }

    img {
        width: 35rem;
        border-radius: 5%;
    }
}

// FOOTER //

footer {
    background-color: $NEGRO;
}
