@import "_colores.scss";
/////
// GENERAL //

* {
    padding: 0;
    margin: 0;
    font-family: "Rubik", sans-serif;
    color: $BLANCO;
    scroll-behavior: smooth;
    img {
        -webkit-user-select: none;
        user-select: none;
        -webkit-user-drag: none;
    }
}

///

.shipping {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    background-color: rgb(24, 23, 23);
    font-weight: 600;

    #shipping-p {
        font-size: 1.2rem;
        text-decoration: underline 1px solid;
        padding-right: 3.5rem;
    }
}

.header {
    border-top: 1px solid $BLANCO;
    background-color: $NEGRO;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .head-categories {
        ul {
            display: flex;
            list-style: none;
            gap: 1vw;
            font-weight: 300;

            a {
                text-decoration: none;
                border-bottom: 1px solid transparent;
                transition: 0.3s ease-in-out;
                padding-bottom: 5px;

                &:hover {
                    border-bottom-color: $BLANCO;
                }
            }
        }
    }

    .head-logo {
        margin-left: 50px;

        img {
            width: 100px;
        }
    }

    .head-icons {
        display: flex;
        gap: 10px;

        a {
            text-decoration: none;
        }

        i {
            margin: 0vh 0.8vw;
            font-size: 1.5rem;
        }
    }
}


.construction {
    background: linear-gradient(-202deg, $NEGRO 0%, $NEGRO 27%, transparent 27%),
    linear-gradient(202deg, $NEGRO 0%, $NEGRO 26%, #FFFFA8 26%);
    display: flex;
    justify-content: space-between;

    .lamp{
        -webkit-user-select: none;
        user-select: none;
        background-color: $BLANCO;
        width: 3vw;
        position: absolute;
        border-bottom: 1px solid white;
        border-bottom-left-radius: 55%;
        border-bottom-right-radius: 55%;
        transform: translate(49vw   , 0vh);
    }
    
    img {
        width: 20vw;
        &:last-of-type {
            transform: rotateY(180deg);
        }
    }

    .construction_text {
        font-size: 2rem;
        gap: 2vh;
        display: flex;
        flex-direction: column;
        justify-content: center;

        p {
            color: $NEGRO;

            &:last-of-type {
                text-align: center;
                text-decoration: underline 1px $NEGRO;
            }
        }
    }
}

footer {
    font-size: 1.5rem;
    font-weight: 100;
    padding: 10vh 0vw 1vh 0vw;
    background-color: $NEGRO;

    .footer_gral {
        display: flex;
        justify-content: space-around;

        .more_info {
            gap: 2vh;
            display: flex;
            flex-direction: column;

            div:last-of-type {
                margin-left: 0.5vw;
                font-size: 1rem;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                a {
                    max-width: fit-content;
                    margin-bottom: 1.5vh;
                    padding-left: 0.5vw;
                    border-left: 1px solid $BLANCO;
                    text-decoration: none;

                    &:last-of-type {
                        margin: 0;
                    }
                }
            }
        }

        .HYTE_club {
            width: 20vw;
            display: flex;
            flex-direction: column;
            gap: 2vh;
            .HYTE_club_text {
                margin-left: 0.5vw;
                p {
                    border-left: 1px solid $BLANCO;
                    padding-left: 0.5vw;
                    font-size: 1rem;
                    line-height: 1.5rem;
                }

                .HYTE_input {
                    margin: 1.5vh 0vw 5vh 0vw;
                    display: flex;
                    justify-content: space-between;
                    border-bottom: 1px solid $BLANCO;
                    input {
                        width: 70%;
                        background-color: transparent;
                        font-size: 1.2rem;
                        border: none;
                        padding: 1vh;

                        &::placeholder {
                            color: $BLANCO;
                        }

                        &:focus {
                            outline: none;
                        }
                    }

                    button {
                        margin-right: 1vw;
                        background-color: transparent;
                        border: none;
                        cursor: pointer;

                        i {
                            &:hover {
                                color: $azul_hyte;
                            }
                        }
                    }
                }
            }
        }

        .clickers {
            a {
                text-decoration: none;
                margin-right: 0.5vw;
                i {
                    color: $BLANCO;
                }
            }
        }
    }

    #copyright {
        margin-top: 5vh;
        font-weight: 100;
        font-size: 0.8rem;
        text-align: center;
    }
}
